services:
    ordering-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__SQLServer=Server=ordering-sqlserver;Initial Catalog=eShop.Services.OrderingDB;User Id=sa;Password=Pass@word;TrustServerCertificate=True;
            - EventBusConnection=rabbitmq
        ports:
            - '5001:5001'
            - '7271:7271'
    catalog-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__SQLServer=Server=catalog-sqlserver;Initial Catalog=eShop.Services.CatalogDB;User Id=sa;Password=Pass@word;TrustServerCertificate=True;
            - EventBusConnection=rabbitmq
        ports:
            - '5003:5003'
            - '7273:7273'
    basket-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - EventBusConnection=rabbitmq
        ports:
            - '5002:5002'
            - '7272:7272'
    ordering-sqlserver:
        environment:
            - SA_PASSWORD=Pass@word
            - ACCEPT_EULA=Y
        ports:
            - '1435:1433'
        volumes:
            - ordering-sqlserver-volume:/var/opt/mssql
    catalog-sqlserver:
        environment:
            - SA_PASSWORD=Pass@word
            - ACCEPT_EULA=Y
        ports:
            - '1436:1433'
        volumes:
            - catalog-sqlserver-volume:/var/opt/mssql
    basket-redis:
        ports:
            - '6379:6379'
            - '8001:8001'
    rabbitmq:
        ports:
            - '15672:15672'
            - '5672:5672'

volumes:
    ordering-sqlserver-volume:
        external: false
    catalog-sqlserver-volume:
        external: false
