services:
    catalog-api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__SQLServer=Server=catalog-sqlserver;Initial Catalog=eShop.Services.CatalogDB;User Id=sa;Password=Pass@word;TrustServerCertificate=True;
            - EventBusConnection=rabbitmq
        ports:
            - '7273:7273'
            - '5003:5003'
    catalog-sqlserver:
        environment:
            - SA_PASSWORD=Pass@word
            - ACCEPT_EULA=Y
        ports:
            - '1433:1433'
        volumes:
            - catalog-sqlserver-volume:/var/opt/mssql
    rabbitmq:
        ports:
            - '15672:15672'
            - '5672:5672'

volumes:
    catalog-sqlserver-volume:
        external: false
